<div class="text-center">
    <h1 class="display-4">@ViewData["WelcomeMessage"]</h1>
    <img src="/images/anh1.jpg" alt="Descriptive Alt Text" class="img-fluid mt-4" />
    <p class="mt-4">@ViewData["HomePageDescription"]</p>
</div>
